<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://getbootstrap.com/docs/5.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body class="bg-light">
<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2>Calculator</h2>
            <p class="lead">
                {% if result is defined %}
                    Result: {{ result }}
                {% else %}
                    Basic test calculator.
                {% endif %}
            </p>
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger" role="alert">{{ flashMessage }}</div>
            {% endfor %}
        </div>

        <div class="row g-5">
            <form class="needs-validation" novalidate method="post">
                <div class="row g-3">
                    <div class="col-sm-3">
                        <label for="firstName" class="form-label">First number</label>
                        <input type="number" class="form-control" name="firstNumber" id="firstNumber" placeholder="0" value="{{ values['firstNumber'] }}" required>
                        <div class="invalid-feedback">
                            First number is invalid
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="country" class="form-label">Operators</label>
                        <select class="form-select" id="operator" name="operator" required>
                            <option value="">Choose...</option>
                            <option value="+"{% if values['operator'] == '+' %}selected{% endif %}>+ (addition)</option>
                            <option value="-"{% if values['operator'] == '-' %}selected{% endif %}>- (subtraction)</option>
                            <option value="*"{% if values['operator'] == '*' %}selected{% endif %}>* (multiplication)</option>
                            <option value="/"{% if values['operator'] == '/' %}selected{% endif %}>/ (division)</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label for="firstName" class="form-label">First number</label>
                        <input type="number" class="form-control" id="secondNumber" name="secondNumber" placeholder="0" value="{{ values['secondNumber'] }}" required>
                        <div class="invalid-feedback">
                            Second number is invalid
                        </div>
                    </div>
                    <div class="col-sm-3" style="margin-top: 43px;">
                        <button
                            class="w-100 btn btn-primary btn-lg"
                            type="submit"
                        >Calculate!
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </main>
</div>

<script src="https://getbootstrap.com/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
